@media (max-width: 76em) {
  .twitter-main {
    /* grid-template-columns: 1fr; */
    display: block;
    overflow: hidden;
    max-width: 121rem;
  }
  .left-section {
    display: none;
  }
  .right-section {
    display: none;
  }
  .tweet-section-section {
    max-width: 121rem;
    left: 0;
    padding-bottom: 20rem;
  }
  .nav {
    position: relative;
    top: 9rem;
    left: 0;
  }

  .top-nav {
    position: fixed;
    top: 0;
    display: flex;
    background-color: var(--color-primary);
    width: 100%;
    height: 9rem;
    z-index: 20000;
  }
  .more-content-left-nav {
    height: 100vh;
    position: fixed;
    left: 0;
    /* bottom: 0; */
    background-color: var(--color-primary);
    max-width: 45rem;
    padding: 3rem;
    transition: all 1000ms;
    z-index: 100000;
    border-right: 0.1rem solid #a0a0a0;

    /* opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  visibility: hidden; */
  }

  .darkbtn {
    margin-top: 20rem;
  }

  .darkmode-btn {
    border: none;
    background-color: transparent;
    color: #b8b8b8;
    font-size: 5rem;
  }
  .active-nav-left .more-content-left-nav {
    display: block;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .bottom-nav {
    opacity: 1;
  }
}

@media (max-width: 36.5em) {
  html {
    font-size: 50%;
  }

  .iccccc {
    position: absolute;
    bottom: 10rem;
    right: 5rem;
    height: 5rem;
    width: 5rem;
  }

  .inputs,
  .logos-btn,
  .num-tweets {
    display: none;
  }

  .tweets {
    position: relative;
    top: 9rem;
  }

  .tweet-content {
    max-width: 50rem;
  }

  .logos-btn {
    max-width: 54rem;
  }

  .for-follow-btn {
    justify-content: flex-start;
    /* padding-right: 9rem; */
    max-width: 54rem;
  }
  /* .for-span {
    padding-left: 3rem;
    text-align: left;
    flex: 1;
  }

  /* .for-span, */

  /* }*/
}

@media (max-width: 25.2em) {
  .tweet-content {
    max-width: 40rem;
    padding-left: 7rem;
  }

  .for-follow-btn {
    max-width: 40rem;
  }

  .logos-btn {
    max-width: 40rem;
  }

  .post-btn {
    margin-left: 2rem;
  }

  .tweet-likes-comments-share {
    max-width: 40rem;
  }

  .nav-pro-pic {
    height: 4rem;
    width: 4rem;
  }
}

@media (max-width: 21em) {
  .tweet-content {
    padding-left: 3rem;
    max-width: 35rem;
  }

  .tweet-text {
    font-size: 1.3rem;
  }

  .for-follow-btn {
    max-width: 35rem;
    white-space: nowrap;
    justify-content: space-between;
  }
}
