* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-family: Inter, 'Arial', sans-serif;
  overflow-x: hidden;
}

:root {
  --color-primary: #fff;
  --color-secondary: #e7e9ea;
  --color-tertiary: #1d9bf0;
  --color-tertiary-btn: #0000;
  --color-tertiary-darker: #000;
  --color-hint-darker: #a3a3a3;
  --color-tertiary-lighter: #f7f7f7;
  --color-change-theme: #f7f7f7;
}
.dark-theme {
  --color-primary: #000;
  --color-tertiary-darker: #fff;
  --color-tertiary-lighter: #373636dd;
  --color-tertiary-btn: #1d9bf0;
  --color-change-theme: #171717;
}

.twitter {
  background-color: var(--color-primary);
  color: var(--color-tertiary-darker);
}

.top-nav {
  position: relative;
  top: 0;
  display: flex;
  height: 7rem;
  align-items: center;
  display: none;
}

.nav-pro-pic {
  margin-left: 3rem;
}

.loicon {
  margin-left: 15rem;
}

.pic-prof-nav {
  height: 4rem;
  width: 4rem;
}

.twitter-main {
  /* position: fixed; */
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;
  /* background-color: ; */
}

/* .pics-left {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.profile-pics {
  max-width: 4rem;
  margin-left: 1rem;
}

.r-18jsvk2 {
  fill: var(--color-tertiary-darker);
}

.r-tyyy,
.r-yyyyoo {
  stroke: var(--color-tertiary-darker);
  fill: var(--color-primary);
}

.r-lrvibr {
  width: 2.4rem;
}

.icon {
  font-size: 2.4rem;
  /* margin: 1rem 0; */
  border-radius: 50%;
  /* padding: 1rem 1rem; */
  margin-top: 1rem;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 500ms; */
  position: relative;
  cursor: pointer;
}

.ico {
  font-size: 2.4rem;
}

.hint {
  position: absolute;
  font-size: 1.2rem;
  background-color: var(--color-hint-darker);
  bottom: -1.5rem;
  color: var(--color-primary);
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  opacity: 0;
  transition: opacity 600ms;
  pointer-events: none;
  white-space: nowrap;
}

.icon:hover .hint {
  opacity: 1;
}

.notification-- {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  background-color: var(--color-tertiary);
  border-radius: 50%;
  color: #fff;
  font-size: 0.8rem;
  /* text-align: center; */
  font-weight: 600;
  z-index: 100;
  right: 1.8rem;
  top: 1.1rem;
}

.more--active {
  display: none;
}

.hide-nav {
  opacity: 0;
  display: none;
  transform: translateX(-100%);
  pointer-events: none;
  visibility: hidden;
}

.darkbtn {
  margin-top: 20rem;
  border: none;
  background-color: transparent;
}

.username {
  font-size: 1.2rem;
  color: #b8b8b8;
  margin-bottom: 1rem;
}

.follows {
  margin-right: 1rem;
  white-space: nowrap;
  font-size: 1.5rem;
}
.follows span {
  color: #b8b8b8;
}

.followers {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 4rem;
}
.acct-name {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.more-content {
  width: 32rem;
  /* height: 40rem; */
  position: fixed;
  max-height: 80vh;
  color: var(--color-tertiary-darker);
  background-color: var(--color-primary);
  border-radius: 1.8rem;
  left: 8rem;
  top: 10rem;
  padding: 2.8rem;
  z-index: 500;
  box-shadow: 0 0.2rem 0.2rem 0.2rem #e7e9ea;
}

.overflow-y {
  overflow-y: scroll;
}

.upper-echelon {
  border-bottom: 0.1rem solid var(--color-tertiary-lighter);
}

.more--content {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}
.upp-span {
  font-size: 2.4rem;
  margin-right: 1.8rem;
}

.upp-h1 {
  font-size: 2rem;
}

.down-echelon {
  padding-top: 2rem;
  /* color: #1d9bf0; */
}

.analytics {
  display: grid;
  grid-template-columns: 1fr 8fr;
  row-gap: 2rem;
  column-gap: 1rem;
  align-items: center;
}
.pp-p {
  font-size: 1.4rem;
}

.chart {
  font-size: 1.6rem;
  /* margin-right: 2.4rem; */
}

.--div-1 {
  /* margin-top: 1rem; */
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
}

.down--div {
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
  margin-top: 3.5rem;
}
.gen-down-div {
  cursor: pointer;
}

.down--span {
  font-size: 1.6rem;
}

.active-btn {
  display: block;
}

.hint-active {
  opacity: 1;
}

.icon:hover {
  background-color: var(--color-tertiary-lighter);
}

.pro-pic {
  width: 100%;
  border-radius: 50%;
}

.icon-bluebg {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 1.4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-color: var(--color-tertiary);
}

.r-4qtqp9 {
  color: #fff;
}
.left-section {
  overflow-y: scroll;
  /* max-height: 120vh; */
  width: 15rem;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 1.2rem;
}

.tweet-section-section {
  position: relative;
  left: 15rem;
  width: 65rem;
  max-width: 65rem;
  border-right: 0.1rem solid var(--color-tertiary-lighter);
  padding-bottom: 5rem;
}

.nav {
  position: fixed;
  background-color: var(--color-primary);
  max-height: 10rem;
  left: 15rem;
  width: 65rem;
  border-bottom: 0.1rem solid var(--color-tertiary-lighter);

  border-right: 0.1rem solid var(--color-tertiary-lighter);
  padding-top: 1rem;
  z-index: 100;
}

.for-follow-btn {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* padding: 2rem; */
}

.following,
.for-u {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
}

.for-span,
.folow-span {
  padding: 2rem;
  flex: 1;
  text-align: center;
  transition: background-color 500ms;
}

.for-span:hover,
.folow-span:hover {
  /* background-color: ; */
}

.active-link {
  border-bottom: 0.6rem solid var(--color-tertiary);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding-bottom: 1.6rem;
  color: var(--color-tertiary-darker);
}

.h2 {
  font-size: 2.2rem;
  padding-left: 2rem;
}

.under-nav {
  position: relative;
  top: 7rem;
}

.inputs {
  padding: 2rem;
  border-bottom: 0.1rem solid var(--color-tertiary-lighter);
}

.textbox-area {
  display: flex;
  align-items: center;
  max-height: 8rem;
}

.input--post {
  margin-left: 1.8rem;
}

.post-input {
  border: none;
  padding: 5rem 30rem 5rem 0;
  font-size: 1.8rem;
  background-color: var(--color-primary);
  color: var(--color-tertiary-darker);
  font-size: 1.6rem;
}

::placeholder {
  font-size: 2.2rem;
  white-space: nowrap;
}

.post-input:focus {
  outline: none;
}

.r-1cvl2hr {
  width: 1.6rem;
  stroke: var(--color-tertiary);
  fill: #1d9bf0;
  margin: 1rem;
}

.ev-c-rep {
  display: flex;
  align-items: center;
  margin-left: 7rem;
  padding-bottom: 0.5rem;
}

.wrld-icon,
.pwrd {
  color: var(--color-tertiary);
  font-weight: 600;
  cursor: pointer;
  /* padding: 0.3rem; */
}

.wrld-icon {
  font-size: 1.6rem;
  margin-right: 0.8rem;
}

.ev-c-rep {
  max-width: 40rem;
}

.pwrd {
  font-size: 1.4rem;
  transition: all 600ms;
  padding-left: rem;
  /* padding: 0.3rem */
}

.logos-btn {
  border-bottom: 0.1rem solid var(--color-tertiary-lighter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.icoons {
  display: flex;
  position: relative;
}

.icoon {
  cursor: pointer;
}

.icoon:hover .tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  background-color: #373636dd;
  padding: 0.4rem 0.5rem;
  color: #f7f7f7;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 600ms;
  pointer-events: none;
}

.icoons > ion-icon {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 700;
  color: var(--color-tertiary);
}

.post-btn {
  border: none;
  padding: 1rem 2.4rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--color-tertiary);
  font-weight: 700;
  cursor: pointer;
}

.num-tweets {
  padding: 2.4rem;
  text-align: center;
  font-size: 1.6rem;
  color: #1d9bf0;
  cursor: pointer;
  transition: all 600ms;
  border-bottom: 0.1rem solid var(--color-tertiary-lighter);
  margin-bottom: 3.6rem;
}

.num-tweets:hover {
  background-color: var(--color-tertiary-lighter);
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  max-width: 70rem;
  /* grid-template-columns: 12rem 1fr 1fr 5rem; */
}

.tweet-name-grid {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name,
.user-name,
.time-tweet {
  font-size: 1.4rem;
  padding-left: 1.2rem;
}

.user-name,
.time-tweet {
  color: #b8b8b8;
}

.name {
  font-weight: 600;
}

.more-icon {
  font-size: 1.6rem;
}

.change-theme-section {
  background-color: var(--color-change-theme);
  /* background-color: var(--color-secondary); */
  position: fixed;
  bottom: 4rem;
  max-width: 55rem;
  padding: 2.4rem;
  /* left: 50%; */
  left: 30rem;
  /* transform: translate(50%, -50%); */
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(112, 112, 112, 0.3);
  z-index: 100;
  border-radius: 0.5rem;
}

.h1-theme {
  font-size: 2rem;
  text-align: center;
  padding: 1.6rem 0;
}

.p-theme {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-hint-darker);
}

.seerty {
  border: 0.1rem solid var(--color-hint-darker);
  border-radius: 2rem;
  display: flex;
  align-items: flex-start;
  padding: 1.4rem;
  margin: 2rem 0;
}

.img-logo-twt {
  width: 5rem;
  margin-right: 2rem;
}

.h3-name {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.p-username-twwt {
  font-size: 1rem;
  color: var(--color-hint-darker);
}

.img-verified {
  width: 2rem;
  padding: 0 0.2rem;
}

.img-twt {
  width: 100%;
}

.p-ttwt-tweet {
  font-size: 1.4rem;
  max-width: 35rem;
}

.span-twt {
  color: var(--color-tertiary);
}

.theme-proper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  margin: 1rem 0;
  background-color: var(--color-tertiary-lighter);
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
}

.theme {
  display: flex;
  border: 0.1rem solid var(--color-hint-darker);
  padding: 2rem;
  border-radius: 0.5rem;
}

.default {
  background-color: #fff;
  color: #000;
  margin-right: 3.2rem;
}

.dark {
  background-color: #000;
  color: #f7f7f7;
}

.p-proper {
  font-size: 1.4rem;
  color: #a3a3a3;
}

.theme-btn {
  background-color: transparent;
  border: none;
  padding: 0 1.2rem;
}

.theme-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.theme > ion-icon {
  padding-right: 1.2rem;
}

.checked-btn {
  color: #1d9bf0;
}

.active-btn-checked {
  border: 0.2rem solid #1d9bf0;
}

.btn-off {
  color: #a3a3a3;
}

.btn-off,
.checked-btn {
  font-size: 2rem;
}

.btn--done {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.done-btn {
  background-color: var(--color-tertiary);
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  color: #f7f7f7;
}

.tweet-content {
  padding-left: 7rem;
  max-width: 60rem;
}

.tweet-text {
  max-width: 60rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.ord-lst {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.ordlist {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.tweet-img {
  display: flex;
  /* justify-content: center; */
  /* height: 50rem; */
  max-width: 80rem;
}

.tweetImg {
  width: 70%;
  border-radius: 2rem;
}

.tweet-likes-comments-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  /* border-bottom: 0.1rem solid #b8b8b8; */
}

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 600ms;
  cursor: pointer;
  color: #a0a0a0;
  /* width: 20rem; */
  position: relative;
}

.hint-reaction {
  position: absolute;
  bottom: -2.5rem;
  background-color: #373636dd;
  padding: 0.4rem 0.5rem;
  color: #f7f7f7;
  border-radius: 0.3rem;
  opacity: 0;
  transition: opacity 600ms;
  pointer-events: none;
}

/* .coment:hover .hint-reaction,
.retwet:hover .hint-reaction,
.likee:hover .hint-reaction,
.stats:hover .hint-reaction {
  opacity: 1;
} */

.reaction:hover .hint-reaction {
  opacity: 1;
}

.likee:hover {
  color: rgba(255, 62, 62, 0.934);
}

.stats:hover,
.shres:hover,
.coment:hover {
  color: #1d9bf0;
}
.like,
.liked {
  font-size: 1.8rem;
}

.liked {
  color: rgba(255, 62, 62, 0.934);
}

.active-like-count {
  color: red;
}

.retwet:hover {
  color: rgb(11, 164, 11);
}

.count {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}

.reaction > span {
  font-size: 1.8rem;
}

.likes {
  border: none;
  background-color: transparent;
}

.retweet-icn {
  /* transform: rotate('45deg'); */
  rotate: 90deg;
}

.right-section {
  position: fixed;
  right: -2rem;
  /* left: 70rem; */
  padding: 4.8rem 1.4rem;
  max-height: 120vh;
  /* position: ; */
  overflow-y: scroll;
  scrollbar-color: transparent;
  scrollbar-width: 0.1rem;
  scrollbar-darkshadow-color: var(--color-tertiary-lighter);
}

.search-inp {
  position: relative;
  margin-bottom: 3.2rem;
}

.absolute-icon {
  position: absolute;
  top: -2rem;
  left: 0;
  bottom: 5;
  color: #a0a0a0;
}

.absolute-icon:hover {
  background-color: transparent;
}

.srch {
  padding: 1.3rem 15rem 1.3rem 4rem;
  background-color: var(--color-tertiary-lighter);
  border-radius: 2rem;
  border: none;
  color: var(--color-secondary);
}

.srch:focus {
  outline: 0.1rem solid var(--color-tertiary);
}

.srch-icon {
  padding: 0 1rem;
  font-size: 2rem;
}

.srch::placeholder {
  font-size: 1.8rem;
  padding-left: 2rem;
}

.prem-sub-sec {
  background-color: var(--color-tertiary-lighter);
  padding: 1.8rem;
  max-width: 35rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.ppp {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

.sub-btn {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--color-tertiary-btn);
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1.8rem;
  color: var(--color-tertiary-darker);
}

.trending {
  display: flex;
  justify-content: space-between;
}

.p-trending,
.p-postnum {
  font-size: 1.4rem;
  color: #a0a0a0;
}
.h2-trend {
  padding: 0.2rem 0;
  font-size: 1.6rem;
}

.p-postnum {
  margin-bottom: 2rem;
}

.more-p {
  font-size: 1.6rem;
  color: var(--color-tertiary);
}

.space-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem;
}

.name-space-host {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.space-img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.spk {
  font-size: 1.3rem;
  color: #b8b8b8;
}
.psp-name {
  font-size: 1.6rem;
  padding: 0 0.8rem;
}

.space-prp {
  position: relative;
  display: flex;
  align-items: center;
  border: 0.2rem solid rgb(77, 18, 204);
  border-radius: 3rem;
  height: 4rem;
  max-width: 13.5rem;
  padding: 0.4rem;
}

.prp-img {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
}

.imgs2,
.img3,
.img1,
.p-img {
  max-width: 4rem;
  position: absolute;
  /* left: 0rem; */
  /* bottom: 0; */
}

.imgs2 {
  left: 2rem;
}

.img3 {
  left: 4rem;
}

.p-img {
  right: 1.6rem;
  font-size: 1.6rem;
}

.p {
  font-size: 1.6rem;
  color: var(--color-tertiary-darker);
}

.footer {
  /* position: fixed; */
  right: 0;
  /* left: 70rem; */
  bottom: 0;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #b8b8b8; */
  backdrop-filter: blur(1px);
  z-index: 5;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  height: 9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 1000;
  opacity: 0;
}
